{% extends 'base.html.twig' %}

{% block title %}{{product.name}} - Sitraka Boutique {% endblock %}

{% block content %}
<div class="row mt-5" data-aos="fade-down">
    <div class="card col-md-5">
        <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" id="illustration">
    </div>
    <div class="col-md-7 my-auto">
        <h3>{{product.name}}</h1>
        <br>
        <p>{{product.subtitle}}</p><br>
        <span class="product-page-price">{{ (product.price /100)| number_format(2, ',','.') }}€</span>
        <hr>
        <p>{{product.description}}</p>
       <br>
        <a href="{{path('add_to_cart',{'id':product.id})}}" class="btn btn-primary" id="boutton1">
            <i class="fas fa-shopping-cart"></i>&nbsp;Ajouter au panier
        </a>
    </div>
    <hr>
</div>

{% endblock %}